<%= errors_for(@category) %>

<fieldset>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :parent_id, "Parent Category" %>
  <%= form.select :parent_id, options_for_select(ProductType.all.map { |cat| [cat.name, cat.id] }, @category.parent_id)%>
  
  <%= form.label :rank %>
  <%= form.text_field :rank %>
  
  <div class="form-actions">
    <%= form.submit @category.persisted? ? "Update Category" : "Create Category", :class => "btn btn-success" %>
  </div>
</fieldset>
