<div class="page-header">
  <h1><%= title "Categories" %></h1>
</div>

<table class="condensed-table zebra-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th># Products</th>
    </tr>
  </thead>
  <tbody>
  <% @root.subtree.arrange(:order => :rank).each do |root, parents| %>
    <% parents.each do |parent, children| %>
      <tr>
        <td><b><%= link_to parent[:name], product_type_path(parent) %></b> <%= link_to "(edit)", edit_product_type_path(parent) if current_user %></td>
        <td><%= @counts[parent[:name]] %></td>
      </tr>
      <% children.each do |cat, cat_children| %>
        <tr>
          <td class="indent"><%= link_to cat[:name], product_type_path(cat) %> <%= link_to "(edit)", edit_product_type_path(cat) if current_user %></td>
          <td><%= @counts[cat[:name]] %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= link_to("Add Category", new_product_type_path) if current_user %>
