<%= form.fields_for :junction do |junction_form| %>
  <%= render :partial => 'junctions/form', :locals => {:form => junction_form} %>
<% end %>

<p><%= form.label :name %><br/>
<%= form.text_field :name %></p>

<p><%= form.label :upc %><br/>
<%= form.text_field :upc %></p>

<p><%= form.label :ean %><br/>
<%= form.text_field :ean %></p>

<p><%= form.label :isbn %><br/>
<%= form.text_field :isbn %></p>

<p><%= form.label :mpn %><br/>
<%= form.text_field :mpn %></p>
