<div class="row">
  <div class="span3">
    <div class="facets">
      <div class="facet">
      <h5>Categories</h5>
      <% facet_options = @facets[:product_type] %>
      <% @root.subtree.arrange(:order => :rank).each do |root, parents| %>
        <% parents.each do |parent, children| %>
          <% unless children.keys.collect{|cat| facet_options[cat[:id]]}.compact.blank? %>
          <ul>
            <li><b><%= "#{parent[:name]}" %></b></li>
            <% children.keys.each do |cat| %>
            <ul>
              <% unless facet_options[cat[:id]].blank? %>
              <li <%= "class=selected" if params_includes? cat %>><%= link_to "#{cat[:name]} (#{facet_options[cat[:id]]})", search_path(url_builder(cat)) %></li>
              <% end %>
            </ul>
            <% end %>
          </ul>
          <% end %>
        <% end %>
      <% end %>
      </div>
    
      <% {
      :game => "Game", 
      :franchise => "Series", 
      :developer => "Developer", 
      :merchant => "Merchant"}.each do |facet, name| 
        facet_options = @facets[facet]
        # Facets include an "other" option (nil or 0). We dont want them, so they get removed.
        facet_options.delete(nil)
        facet_options.delete(0)
        unless facet_options.empty? %>
          <div class="facet">
            <h5><%= name %></h5>
            <ul>
            <% @facet_records = facet.to_s.classify.constantize.order(:name).find_all_by_id(facet_options.keys) %>
            <% @facet_records.each do |record| %>
              <li <%= "class=selected" if params_includes? record %>><%= link_to("#{record.name} (#{facet_options[record.id]})", search_path(url_builder(record))) %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="span13">
    <% unless @query.blank? && [:games, :franchises, :developrs, :merchants, :product_types].select{|f| params[f] }.empty? %>
      <div class="filters">
        <h4>Applied Filters</h4>
        <% unless @query.blank? %>
          <div class="filter">
            <span class="type">Keywords:</span>
            <span class="term"><%= @query %></span>
            <span class="remove"><%= link_to "(remove)", params_remove(:q) %></span>
          </div>
        <% end %>
        <% {
        :game => "Game", 
        :franchise => "Series", 
        :developer => "Developer", 
        :merchant => "Merchant", 
        :product_type => "Category"}.each do |facet, name|
          if params[facet.to_s.pluralize]
            ids = params[facet.to_s.pluralize].split(',')
            records = facet.to_s.classify.constantize.order(:name).find_all_by_id(ids)
            %>
            <div class="filter">
              <span class="type"><%= name %>:</span>
              <span class="term"><%= records.collect(&:name).join(', ') %></span>
              <span class="remove"><%= link_to "(remove)", params_remove(facet.to_s.pluralize) %></span>
            </div>
        <%  end
          end %>
      </div>
    <% end %>
  
    <ul class="listings">
      <% products.each do |product| %>
        <li>
          <div class="listing-image">
            <%= link_to image_tag(product.primary_image.data(:small), :alt => product.name), product %>
          </div>
          <div class="listing-detail">
            <div class="listing-title"><%= link_to product.name, product %></div>
            <div class="listing-merchant"><%= link_to product.merchant.name, product.merchant %></div>
            <div class="listing-price">
              <span class="listing-amount"><%= product.max_figure.price.format %></span>
              <span class="listing-currency"><%= product.max_figure.price.currency %></span>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <div style="clear: both"></div>

    <div class="pagination">
      <%= will_paginate @products, :renderer => PaginationListLinkRenderer, :class => nil %>
    </div>
  </div>
</div>
