<div class="page-header">
  <h1>Admin</h1>
</div>

<%= link_to "Find and add game", find_games_path %>

<p><%= Search.count %> searches (<%= @search_count_today %> today)</p>

<p><%= Product.count %> <%= link_to "products", products_path %> 
  (<%= count = Product.pending.count %> <%= count > 0 ? link_to("pending", edit_product_path(Product.pending.first)) : "pending" %>)
</p>

<p><%= Game.count %> <%= link_to "games", games_path %></p>

<p><%= Developer.count %> <%= link_to "developers", developers_path %></p>

<p><%= Platform.count %> <%= link_to "platforms", platforms_path %></p>

<p><%= Genre.count %> <%= link_to "genres", genres_path %></p>

<p><%= ProductType.count %> <%= link_to "product types", product_types_path %></p>

<p><%= Merchant.count %> <%= link_to "merchants", merchants_path %></p>
