<h1>Admin</h1>

<%= link_to "Find and add game", find_games_path %>

<p><%= @search_count %> searches (<%= @search_count_today %> today)</p>

<p>x products</p>

<p><%= @game_count %> <%= link_to "games", games_path %></p>

<p><%= @developer_count %> <%= link_to "developers", developers_path %></p>

<p><%= @platform_count %> <%= link_to "platforms", platforms_path %></p>

<p><%= @genre_count %> <%= link_to "genres", genres_path %></p>
