<h1>Admin</h1>

<%= link_to "Find and add game", find_games_path %>

<p><%= Search.count %> searches (<%= @search_count_today %> today)</p>

<p><%= Product.count %> <%= link_to "products", products_path %></p>

<p><%= Game.count %> <%= link_to "games", games_path %></p>

<p><%= Developer.count %> <%= link_to "developers", developers_path %></p>

<p><%= Platform.count %> <%= link_to "platforms", platforms_path %></p>

<p><%= Genre.count %> <%= link_to "genres", genres_path %></p>
