<div class="page-header">
  <h1><%= title "Resend unlock instructions"</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", :class=>"btn btn-primary" %>
      <%= link_to "Cancel", new_user_session_path, :class=>"btn" %>
    </div>
  </fieldset>
<% end %>
