<p><%= form.label :price_cents, "Price in cents" %><br/>
<%= form.text_field :price_cents %></p>

<p><%= form.label :amount_saved_cents, "Amount saved in cents" %><br/>
<%= form.text_field :amount_saved_cents %></p>

<p><%= form.label :shipping_cost_cents, "Shipping cost in cents" %><br/>
<%= form.text_field :shipping_cost_cents %></p>

<p><%= form.label :currency %><br/>
<%= form.text_field :currency %></p>
