<%= form.hidden_field :junction_uid, :value => @game.junction_uid %>

<p><%= form.label :name %><br/>
<%= form.text_field :name %></p>

<p><%= form.label :release_date %><br/>
<%= form.text_field :release_date %></p>

<p><%= form.label :franchise_name, "Franchise" %><br/>
<%= form.text_field :franchise_name %></p>
