<%= errors_for(@game) %>

<fieldset>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :aliases %>
  <%= form.text_field :aliases %>

  <%= form.label :release_date %>
  <%= form.text_field :release_date %>
  
  <div class="form-actions">
    <%= form.submit @game.persisted? ? "Update Game" : "Create Game", :class => "btn btn-success" %>
  </div>
</fieldset>


