<fieldset>
  <%= form.label :name %>
  <%= form.text_field :name %>
  
  <%= form.label :slug %>
  <%= form.text_field :slug %>
  
  <%= form.label :url %>
  <span class="uneditable-input"><%= @merchant.url %></span>

  <div class="form-actions">
    <%= form.submit @merchant.persisted? ? "Update Merchant" : "Create Merchant", :class => "btn btn-success" %>
  </div>
</fieldset>
