<p><%= form.label :product_page_url %><br/>
<%= form.text_field :product_page_url %></p>

<p><%= form.label :reviews_page_url %><br/>
<%= form.text_field :reviews_page_url %></p>

<p><%= form.label :quantity %><br/>
<%= form.text_field :quantity %></p>
