<%= errors_for(@product) %>

<div class="row">
  <div class="span8">
    <fieldset>
      <label>Name</label>
      <span class="uneditable-input" style="width: 460px;"><%= @product.name %></span>
      
      <label>Description</label>
      <span class="uneditable-input" style="width: 460px;"><%= @product.description %></span>
      
      <label>URL</label>
      <span class="uneditable-input" style="width: 460px;"><%= link_to @product.url, @product.url %></span>
      
      <label>Merchant</label>
      <span class="uneditable-input" style="width: 460px;"><%= @product.merchant.name %> <%= link_to "(edit)", edit_merchant_path(@product.merchant), :class => "pull-right" %></span>
      
      <br />
      
      <%= form.label :merchandisable_string, "Game/Dev/Series" %>
      <%= form.select :merchandisable_string, merchandisable_grouped_options(@product.merchandisable), {:prompt => true} %>
      
      <%= form.label :product_types, "Product Types" %>
      <div id="typifications">
        <% @product.typifications.each_with_index do |typification, index| %>
          <%= render "typification_fields", :form => form, :typification => typification, :index => index %>
        <% end %>
      </div>
      <div class="input action">
        <%= add_child_object_link(form, @product, :typification, "Product Type") %>
      </div>
      
      <br />
      
      <%= form.label :status %>
      <% Product::STATUSES.each do |status, value| %>
        <label class="radio">
          <%= form.radio_button :status, value, { :checked => @product.status == value } %>
          <% indicators = { "approved" => "success", "denied" => "important", "pending" => ""} %>
          <span class="label <%= indicators[status.to_s] %>"><%= status.to_s %></span>
        </label>
      <% end %>
    </fieldset>
  </div>
  <div class="span4">
    <%= image_tag(@product.primary_image.data(:small), :alt => @product.name, :class => "pull-right") %>
  </div>
</div>

<fieldset>
  <div class="form-actions">
    <%= form.submit @product.persisted? ? "Update & View" : "Create Product", :class => "btn btn-success" %>
    <%= form.submit "Update & Next Product", :name => "next", :class => "btn btn-primary" if @product.persisted? %>
  </div>
</fieldset>

