<% description truncate(@product.description, :length => 160) %>

<div class="row">
  <div class="span11">
    <div id="breadcrumb"><%# breadcrumb(@product.product_type) %></div>
    <h1><%= title @product.name %><%= ' '.html_safe + link_to('(edit)', edit_product_path(@product)) if current_user %></h1>
    <div class="row">
      <div class="span11">
        <div id="item-image">
          <%= link_to(
              image_tag(@image.data.url(:medium), :alt => "Main product image"), 
            @image.data.url) %>
        </div>
        <div id="item-thumbs">
          <% if @product.images.size > 1 %>
            <% @product.images.each do |img| %>
              <%= link_to image_tag(img.data.url(:thumb), :alt => "Product thumbnail"), product_path(@product, {:image_id => img.id}), {:"data-medium-image" => root_url.chop + img.data.url(:medium)} %>
            <% end %>
          <% end %>
        </div>
        
        <div class="row">
          <div id="item-summary" class="span9"><%= simple_format(truncate(@product.description, :length => 250)) %></div>
        </div>
        
        <div class="row">
          <div id="item-summary" class="span11">[insert Facebook comments here]</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="span5">
    <%= render :partial => "price_sidebar", :locals => {
        :product => @product } 
    %>
    
    <div class="sidebar">
      <%= render :partial => "related_products_sidebar", :locals => { 
          :headline => "Sold by %s",
          :has_products => @product.merchant, 
          :exclude => @product } 
      %>
      
      <% unless @product.merchandisable.nil? %>
      <%= render :partial => "related_products_sidebar", :locals => { 
          :headline => "Other %s merch",
          :has_products => @product.merchandisable, 
          :exclude => @product } 
      %>
      <% end %>
      
      <% @product.product_types.each do |type| %>
        <%= render :partial => "related_products_sidebar", :locals => { 
            :headline => "More %s",
            :has_products => type, 
            :exclude => @product } 
        %>
      <% end %>
      <!--
      <div class="sidebar-inner">
        <h3 class="center">Like this? Show your friends!</h3>
        <div class="share-buttons">
          <a href="http://pinterest.com/pin/create/button/?url=<%= root_url %>&media=<%= root_url.chop + @image.data.url %>&description=<%= truncate(@product.name, :length => 250) %>" class="pin-it-button" count-layout="horizontal">Pin It</a>
        </div>
        <div style="clear: both"></div>
      </div>
      -->
    </div>

    
    <%= render :partial => "price_sidebar", :locals => {
        :product => @product } 
    %>
  </div>
</div>

<%= content_for :footer do %>
<script>
  $(function() {
    $(".other-items img").twipsy();
    
    $("#item-thumbs a").click(function(event) {
      event.preventDefault();
      var url = $(this).data('medium-image');
      // Update primary image and link
      $('#item-image').children('a').attr('href',url).children('img').attr('src',url);
      // TODO: Update pinterest button url
    });
  });
</script>
<% end %>
