<% description truncate(@product.description, :length => 160) %>

<div class="row">
  <div class="span8">
    <div class="page-header">
      <h1><%= title @product.name %></h1>
    </div>
    <div class="row">
      <div class="span8">
        <div id="item-image">
          <%= link_to(
              image_tag(@primary_image.data.url(:medium), :alt => "Main product image"), 
            @primary_image.data.url) %>
        </div>
        <div id="item-thumbs">
          <% if @product.images.size > 1 %>
            <% @product.images.each do |img| %>
              <div class="thumb">
                <%= link_to image_tag(img.data.url(:thumb), :alt => "Product thumbnail"), product_path(@product, {:image_id => img.id}), {:"data-medium-image" => root_url.chop + img.data.url(:medium)} %>
              </div>
            <% end %>
          <% end %>
        </div>
        
        <div id="item-summary"><%= @product.description %></div>

        <div class="fb-comments" data-href="<%= product_url(@product, :only_path => false) %>" data-num-posts="10" data-width="590"></div>
      </div>
    </div>
  </div>
  
  <div class="span4">
    <%= render :partial => "price_sidebar", :locals => {
        :product => @product } 
    %>
    
    <div class="sidebar">
      <%= render :partial => "related_products_sidebar", :locals => { 
          :headline => "Sold by %s",
          :has_products => @product.merchant, 
          :exclude => @product } 
      %>
      
      <% unless @product.merchandisable.nil? %>
      <%= render :partial => "related_products_sidebar", :locals => { 
          :headline => "Other %s merch",
          :has_products => @product.merchandisable, 
          :exclude => @product } 
      %>
      <% end %>
      
      <% @product.product_types.each do |type| %>
        <%= render :partial => "related_products_sidebar", :locals => { 
            :headline => "More %s",
            :has_products => type, 
            :exclude => @product } 
        %>
      <% end %>

      <div class="sidebar-inner">
        <h3 class="center">Like this? Show your friends!</h3>
        <div class="share-buttons">
          <span  class='st_facebook_button' displayText='Facebook'></span>
          <span  class='st_twitter_button' displayText='Tweet'></span>
          <span  class='st_plusone_button' ></span>
        </div>
      </div>
    </div>

    
    <%= render :partial => "price_sidebar", :locals => {
        :product => @product } 
    %>
  </div>
</div>

<%
  # Including these JS files here because this action is going to get cached and
  # we cant pass the actions javascript back to the layout. Hacky, but it works.
%>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
<%= javascript_include_tag "application" %>

<%# Facebook social plugin code %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=116034751818658";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%# ShareThis code %>
<script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'43e339ec-54fc-468c-bdea-194e1b4e832d'});</script>

<script>
  $(function() {
    $(".other-items img").tooltip();
    
    $("#item-thumbs a").click(function(event) {
      event.preventDefault();
      var url = $(this).data('medium-image');
      // Update primary image and link
      $('#item-image').children('a').attr('href',url).children('img').attr('src',url);
      // TODO: Update pinterest button url
    });
  });
</script>
