<div class="row">
  <div class="span11">
    <div id="breadcrumb"><%# breadcrumb(@product.product_type) %></div>
    <h1><%= @title %></h1>
    <div class="row">
      <div class="span11">
        <div id="item-image">
          <% if @product.images.blank? %>
            <%# TODO: Get a default image_tag for a no-image image %>
            <%= image_tag nil %>
          <% else %>
            <%= link_to image_tag(@product.images.first.data.url(:medium)), @product.images.first.data.url %>
          <% end %>
        </div>
        <div id="item-thumbs">
          <% if @product.images.size == 1 %>
            <% @product.images.each do |img| %>
              <%= image_tag img.data.url(:thumb) %>
            <% end %>
          <% end %>
        </div>
        <div class="clear"></div>
        <div class="row">
          <div id="item-summary" class="span9"><%= @product.summary %></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="span5">
    <div class="item-price"><%= price(@product) %></div>
    <a href="<%= @product.url %>" class="btn large primary">Check it out</a>
  </div>
</div>
