<% related_product_limit = 3 %>

<div class="row">
  <div class="span11">
    <div id="breadcrumb"><%# breadcrumb(@product.product_type) %></div>
    <h1><%= @title %><%= ' '.html_safe + link_to('(edit)', edit_product_path(@product)) if current_user %></h1>
    <div class="row">
      <div class="span11">
        <div id="item-image">
          <% if @product.images.blank? %>
            <%# TODO: Get a default image_tag for a no-image image %>
            <%= image_tag nil %>
          <% else %>
            <%= link_to image_tag(@product.images.first.data.url(:medium)), @product.images.first.data.url %>
          <% end %>
        </div>
        <div id="item-thumbs">
          <% if @product.images.size == 1 %>
            <% @product.images.each do |img| %>
              <%= image_tag img.data.url(:thumb) %>
            <% end %>
          <% end %>
        </div>
        
        <div class="row">
          <div id="item-summary" class="span9"><%= @product.summary %></div>
        </div>
        
        <div class="row">
          <div id="item-summary" class="span11">[insert Facebook comments here]</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="span5">
    <div class="item-price">
      <div class="item-amount"><%= price(@product) %></div>
      <div class="item-actions"><a href="<%= @product.url %>" class="btn large success">Check it out &raquo;</a></div>
    </div>
    
    <div class="sidebar">
      <%# Merchant sidebar %>
      <div class="sidebar-inner">
        <h4>Sold by <%= link_to @product.merchant.name, @product.merchant %></h4>
        <div class="other-items">
          <% rp = related_products(@product.merchant, related_product_limit, @product).each do |product| %>
            <%= image_tag product.images.first.data.url(:thumb) %>
          <% end %>
          <% if rp.empty? %>
            <div>No related products available.</div>
          <% end %>
        </div>
      </div>
      
      <%# Game/Franchise sidebar %>
      <% unless @product.merchandisable.nil? %>
      <div class="sidebar-inner">
        <h4>Other <%= link_to @product.merchandisable.name, @product.merchandisable %> merch</h4>
        <div class="other-items">
          <% rp = related_products(@product.merchandisable, related_product_limit, @product).each do |product| %>
            <%= image_tag product.images.first.data.url(:thumb) %>
          <% end %>
          <% if rp.empty? %>
            <div>No related products available.</div>
          <% end %>
        </div>
      </div>
      <% end %>
      
      <%# Product type(s) sidebar%>
        <% @product.product_types.each do |type| %>
        <div class="sidebar-inner">
          <h4>More <%= link_to type.name, type %></h4>
          <div class="other-items">
            <% rp = related_products(type, 3, @product).each do |product| %>
              <%= image_tag product.images.first.data.url(:thumb) %>
            <% end %>
            <% if rp.empty? %>
              <div>No related products available.</div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="item-price">
      <div class="item-amount"><%= price(@product) %></div>
      <div class="item-actions"><a href="<%= @product.url %>" class="btn large success">Check it out &raquo;</a></div>
    </div>
  </div>
</div>
