<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'Videogame Merch', :reverse => true %>
  <%# stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <%= link_to image_tag("vgm-logo-small.png", :alt => "Videogame Merch"), root_url, :class => "brand" %>
        <%# Using a real form tag to avoid getting utf8=✓ in my url %>
        <form action="<%= search_path %>" method="get" class="navbar-search">
          <%= text_field_tag :q, @query, :class => "span4" %>
          
          <% [:games, :franchises, :developers, :merchants, :product_types].each do |f| %>
            <%= hidden_field_tag f, params[f] if params[f] %>
          <% end %>
          
          <%= submit_tag "Search", :name => nil, :class => "btn btn-success" %>
        </form>
        <% if user_signed_in? %>
          <ul class="nav pull-right">
            <li><%= link_to "Admin", admin_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="span12">
        <% if notice %>
        <div class="alert success">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <%= notice %>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert error">
          <a class="close" href="#">×</a>
          <%= alert %>
        </div>
        <% end %>
      </div>
    </div>

    <div id="main">
      <%= yield %>
    </div>
    
    <div id="footer">
      <p class="pull-right"><%= link_to image_tag("whiskey-powered.png", :alt => "This site is Whiskey Powered"), "http://www.whiskeymedia.com/" %></p>
      <p>&copy; <%= link_to "Video Game Merch", root_url %></p>
    </div>
  </div>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%# javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= yield :footer %>
</body>
</html>
