<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? (@title + " | " + "Video Game Merch") : "Video Game Merch" %></title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <div class="row">
    <div id="header" class="span16">
      Video Game Merch
    </div>
  </div>
  
  <div class="row">
    <div id="message-center" class="span16">
      <%= raw "<div class='notice'>#{notice}</div>" if notice %>
      <%= raw "<div class='notice'>#{alert}</div>" if alert %>
    </div>
  </div>

  <div id="main">
    <%= yield %>
  </div>
  
  <div class="row">
    <div id="footer" class="span16">
      Footer
    </div>
  </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
