<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'Video Game Merch', :reverse => true %>
  <%# stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-static">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="brand">Video Game Merch</a>
        <ul class="nav">
          <li><%= link_to "Products", products_path %></li>
          <!--<li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>-->
        </ul>
        <% if user_signed_in? %>
          <ul class="nav pull-right">
            <li><%= link_to "Admin", admin_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="span12">
        <% if notice %>
        <div class="alert success">
          <a class="close" href="#">×</a>
          <%= notice %>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert error">
          <a class="close" href="#">×</a>
          <%= alert %>
        </div>
        <% end %>
      </div>
    </div>

    <div id="main">
      <%= yield %>
    </div>
    
    <div id="footer">
      <p class="pull-right"><%= link_to image_tag("whiskey-powered.png"), "http://www.giantbomb.com/" %></p>
      <p>&copy; <%= link_to "Video Game Merch", root_url %></p>
    </div>
  </div>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%# javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= yield :footer %>
</body>
</html>
