<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'Video Game Merch', :reverse => true %>
  <%# stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <h3><a href="/">Video Game Merch</a></h3>
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <!--<li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>-->
        </ul>
        <form class="pull-right" action="">
          <input type="text" placeholder="Search" class="span4">
        </form>
        <% if user_signed_in? %>
          <ul class="nav secondary-nav">
            <li><%= link_to "Admin", admin_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="span16">
        <% if notice %>
        <div class="alert-message success">
          <a class="close" href="#">×</a>
          <p><%= notice %></p>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert-message error">
          <a class="close" href="#">×</a>
          <p><%= alert %></p>
        </div>
        <% end %>
      </div>
    </div>

    <div id="main">
      <%= yield %>
    </div>
    
    <div class="row">
      <div id="footer" class="span16">
        &copy; Video Game Merch
      </div>
    </div>
  </div>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%# javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= yield :footer %>
</body>
</html>
